<div id="toast-success" class="fixed right-4 top-20 z-50" role="alert">
  <div class="min-w-20 max-w-xs rounded-lg shadow bg-white">
    <div
      class="flex w-full items-center p-4 text-gray-500  dark:bg-gray-800 dark:text-gray-400"
    >
      <div
        class="inline-flex h-8 w-8 flex-shrink-0 items-center justify-center rounded-lg bg-green-100 text-green-500 dark:bg-green-800 dark:text-green-200"
      >
        <svg
          class="h-5 w-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
          />
        </svg>
        <span class="sr-only">Check icon</span>
      </div>
      <div class="ms-3 min-w-20 text-sm font-normal">{{ message }}</div>
      <button
        type="button"
        class="-mx-1.5 -my-1.5 ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-white p-1.5 text-gray-400 hover:bg-gray-100 hover:text-gray-900 focus:ring-2 focus:ring-gray-300 dark:bg-gray-800 dark:text-gray-500 dark:hover:bg-gray-700 dark:hover:text-white"
        data-dismiss-target="#toast-success"
        aria-label="Close"
      >
        <span class="sr-only">Close</span>
        <svg
          class="h-3 w-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
          />
        </svg>
      </button>
    </div>
    <!--  Shopping Bag Preview -->
    {% if grand_total and not hide_bag_preview %}
    <hr class="w-9/12 mx-auto h-px my-2 bg-gray-200 border-0 dark:bg-gray-700">
    <div class="max-w-xs">
      <div class="max-h-72 overflow-scroll">
        {% for item in bag_items %}
        <div
          class="space-x flex w-full max-w-xs items-center space-x-4 divide-x divide-gray-200 bg-white p-4 text-gray-500 dark:divide-gray-700 dark:bg-gray-800 dark:text-gray-400 rtl:space-x-reverse rtl:divide-x-reverse"
        >
          <div class="w-1/4">
            {% if item.product.image %}
            <img src="{{item.product.image.url}}" alt="{{item.product.name}}" />
            {% else %}
            <img
              src="{{MEDIA_URL}}No-Image-Placeholder.svg"
              alt="{{item.product.name}}"
            />
            {% endif %}
          </div>
          <div class="w-3/4">
            <p class="my-0 pl-2"><strong>{{ item.product.name }}</strong></p>
            <p class="my-0 pl-2 text-sm text-gray-800">
              Size: {% if item.product.has_sizes %}{{ item.size|upper }}{% else
              %}N/A{% endif %}
            </p>
            <p class="my-0 pl-2 text-sm text-gray-800/50">
              Qty: {{ item.quantity }}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
      <div
        class="my-0 flex flex-col place-items-start rounded-b-lg bg-white pb-4 pl-4 leading-10 text-gray-500"
      >
        <p
          class="text-sm font-semibold leading-8 tracking-tight text-gray-900 dark:text-white"
        >
          Total{% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}: £
          <span class="text-sm"> {{ total|floatformat:2}} </span>
        </p>
        {% if free_delivery_delta > 0 %}
        <p
          class="leading-2 pb-3 text-xs font-semibold tracking-tight text-gray-400 dark:text-white"
        >
          Spend £<span class="text-xs">
            {{ free_delivery_delta|floatformat:2}} more to get free delivery!
          </span>
        </p>
        {% endif%}
        <a
          href="{% url 'checkout' %}"
          class="py-1.25 inline-flex cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-gray-800 px-4 text-gray-50 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500"
        >
          <span class=""> Go To Secure Checkout</span>
          <span class="pl-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="16"
              width="14"
              viewBox="0 0 448 512"
              fill="#f9fafb"
            >
              <path
                d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"
              />
            </svg>
          </span>
        </a>
      </div>
    </div>
    {% endif %}
  </div>
</div>
