{% extends "account/base.html" %}
{% load tailwind_filters %}

{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}

    <div class='flex justify-center w-auto'>
        <div class="max-w-screen-lg ml-10 mr-10 md:p-4">
            <div class="md:mx-8 mx-4  my-10 md:max-w-md md:1/2 ">
                <div class="md:w-full">

                    <hr>
                    <h2 class="logo-font mb-12 ">{% trans "Change Password" %}</h2>
                    <hr>

                    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <a class="btn btn-outline-black rounded-0 btn btn-outline-black rounded-0  text-gray-800 bg-white border-solid border-2   border-gray-800  hover:bg-gray-200 focus:outline-none focus:ring-4 focus:ring-gray-700 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-200 dark:hover:bg-gray-300 dark:focus:ring-gray-300 dark:border-gray-300" href="{% url 'account_login' %}">Back to Login</a>
                        <button class="  mt-12  text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700" type="submit" name="action">{% trans "Change Password" %}</button>
                    </form>

                </div>
            </div>
        </div>
    </div>



{% endblock %}
