{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner_content %}

    <h2 class="logo-font mb-4 sr-only">{% trans "Verify Your E-mail Address" %}</h2>

    <div class='flex justify-center'>
        <div class="max-w-screen-lg mx-auto md:p-4">
          <div class="md:mx-8 mx-4  my-10 md:max-w-md md:1/2">
            <div class="md:w-full">
                 <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
            </div> 
          </div>
        </div>
      </div>



{% endblock %}
