{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %} {% endblock title%}</title>
  {% compress css %}
  <link rel="stylesheet" href="{% static 'src/output.css' %}">
  {% endcompress %}
</head>
<body class="bg-gray-50">
  <div class="container mx-auto mt-4">
    {% include 'partials/navbar.html' %}
    {% block content %}
    {% endblock content %}

    {% if messages %}
    <div class="message-container">
         {%  for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {%  include "partials/toast_error.html" %}
                {% elif level == 30 %}
                    {%  include "partials/toast_warning.html" %}
                {% elif level == 25 %}
                    {%  include "partials/toast_success.html" %}
                {% else %}
                  {%  include "partials/toast_info.html" %}
                {% endif %}
            {% endwith%}
        {% endfor %}
    </div>
    {% endif %}
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
  <script src=" {%  static 'js/toasts.js' %}" type='module'></script>
  {% block javascript %}
  {% endblock javascript %}
</body>

</html>