{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% load static %}

{% block headercss %}

<!-- for Mailchimp Newsletter signup form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">

{% endblock headercss%}

{% block content %}

<!-- Hero Image -->
 <!-- based on https://flowbite.com/docs/components/jumbotron/-->
<div class='sm:mt-5 sm:mx-16 max-w-6xl xl:mx-auto xl:min-w-4xl  sm:h-full h-screen'>
    <div class='sm:px-16 px-4 pt-4 sm:pt-8 pb-16 h-full font-sans font-extrabold bg-lime-200/80 sm:rounded-2xl bg-cover bg-no-repeat  bg-blend-soft-light '  
    style="background-image: url({% static 'images/bike-from-side-with-person-in-urban-green-place.webp' %});"> 
        <div class='pt-0 ms:pt-16 pb-20 sm:pb-40'>
            <div class='sm:mt-5 sm:mx-8 lg:ml-0 lg:px-16'>
                <div class='mx-8 lg:mx-0 mt-10 sm:mt-24 mb-16  gap-4 flex flex-col flex-wrap  md:justify-center '>
                    <h1 class='text-4xl mt-8 sm:mt-0 mb-16 sm:mb-0 md:text-5xl lg:text-6xl font-bold text-gray-800 max-w-xs leading-1' style='line-height: 0.8; max-width: 9ch'> Be the change you want to see in Glasgow</h1>
                    <p class="mt-8 mb-12 text-lg font-semibold text-gray-700 leading-6 hidden sm:block" style='max-width:20ch'> Get the perfect gear for the season, find your ideal route to work and start saving our trees.</p>
                    <!--CTA Buttons -->
                    <div class="flex flex-col gap-4 md:flex-row ">
                        <a  href="{% url 'products' %}" 
                            class=" md:mr-8 md:pr-4 inline-flex justify-center items-center  md:w-24 py-3 px-5 md:min-w-52 text-base font-medium text-center text-white rounded-lg bg-gray-700 hover:bg-lime-800 focus:ring-4 focus:ring-lime-300 dark:focus:ring-lime-900"
                            >
                            Visit Shop
                            <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                        {% if user.is_authenticated %}
                        <a  href="{% url 'profile' user.id %}" 
                            class=" inline-block mt-0 md:w-24  py-3 px-5 md:min-w-52 md:ml-0  inline-flex  items-center justify-center bg-gray-50 border-gray-100 items-center  text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                            Visit Profile 
                            <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>  
                        {% else %}
                        <a href="{% url 'account_login' %}" class="mt-0 md:w-24  py-3 px-5 md:min-w-52  inline-flex justify-center  md:inline-block  bg-gray-50 border-gray-100 items-center  text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                            Log in
                        </a>  
                        {% endif %}
                    </div>         
                </div> 
            </div>
        </div>
    </div>
</div>
<!-- Mission Statement-->
<div class='sm:mt-5 sm:mx-16 max-w-6xl xl:mx-auto xl:min-w-4xl '>
    <div class="sm:px-16 px-4 pt-4 sm:pt-8 pb-16 font-sans font-extrabold bg-gray-200/80 sm:rounded-2xl bg-cover bg-no-repeat  bg-blend-soft-light"> 
        <div class='pt-12 sm:pt-16 pb-20 sm:pb-40'>
            <div class='sm:mt-5 sm:mx-8 lg:ml-0 lg:px-16'>
                <h2 class='text-3xl'>Our Mission</h2>
                <p class='pt-4 pb-8 font-normal leading-6' style='max-width:60ch;'> Founded in 2023 in Glasgow, Glasgow City Cycling wants to change how people
                     in Glasgow commute. We observed that often times people are afraid of cycling on the road, and simply don't know where to start. 
                       Our mission is to bring the best gear to the people, and create a community of confident and responible cyclists in Glasgow.  </p>

                       <a  href="{% url 'products' %}" 
                            class="mt-16 sm:mt-8  md:mr-8 md:pr-4 inline-flex justify-center items-center w-full md:w-24 py-3 px-5 md:min-w-52 text-base font-medium text-center text-white rounded-lg bg-gray-700 hover:bg-lime-800 focus:ring-4 focus:ring-lime-300 dark:focus:ring-lime-900"
                            >
                            Visit Shop
                            <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
            </div>
        </div>
    </div>
</div>


{% endblock content%}

{% block newsletter %}

{% include "partials/newsletter.html" %}

{% endblock newsletter %}


{% block javascript %}

<!-- for Mailchimp Newsletter signup form -->
<script src=" {%  static 'js/home.js' %}" type='module'></script>

<script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

{% endblock javascript %}