{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% load static %}

{% block headercss %}

<!-- for Mailchimp Newsletter signup form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">

{% endblock headercss%}

{% block content %}

<!-- Hero Image -->
 <!-- based on https://flowbite.com/docs/components/jumbotron/-->
<div class='sm:mt-5 sm:mx-16 max-w-6xl xl:mx-auto xl:min-w-4xl  sm:h-full h-screen'>
    <div class='sm:px-16 px-4 pt-4 sm:pt-8 pb-16 h-full font-sans font-extrabold bg-lime-200/80 sm:rounded-2xl bg-cover bg-no-repeat  bg-blend-soft-light '  
    style="background-image: url({% static 'images/bike-from-side-with-person-in-urban-green-place.webp' %});"> 
        <div class='pt-0 ms:pt-16 pb-20 sm:pb-40'>
            <div class='sm:mt-5 sm:mx-8 lg:ml-0 lg:px-16'>
                <div class='mx-8 lg:mx-0 mt-10 sm:mt-24 mb-16  gap-4 flex flex-col flex-wrap  md:justify-center '>
                    <h1 class='text-4xl mt-8 sm:mt-0 mb-16 sm:mb-0 md:text-5xl lg:text-6xl font-bold text-gray-800 max-w-xs leading-1' style='line-height: 0.8; max-width: 9ch'> Be the change you want to see in Glasgow</h1>
                    <p class="mt-8 mb-12 text-lg font-semibold text-gray-700 leading-6 hidden sm:block" style='max-width:20ch'> Get the perfect gear for the season, find your ideal route to work and start saving our trees.</p>
                    <!--CTA Buttons -->
                    <div class="flex flex-col gap-4 md:flex-row ">
                        <a  href="{% url 'products' %}" 
                            class=" md:mr-8 md:pr-4 inline-flex justify-center items-center  md:w-24 py-3 px-5 md:min-w-52 text-base font-medium text-center text-white rounded-lg bg-gray-700 hover:bg-lime-800 focus:ring-4 focus:ring-lime-300 dark:focus:ring-lime-900"
                            >
                            Visit Shop
                            <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                        {% if user.is_authenticated %}
                        <a  href="{% url 'profile' user.id %}" 
                            class=" inline-block mt-0 md:w-24  py-3 px-5 md:min-w-52 md:ml-0  inline-flex  items-center justify-center bg-gray-50 border-gray-100 items-center  text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                            Visit Profile 
                            <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>  
                        {% else %}
                        <a href="{% url 'account_login' %}" class="mt-0 md:w-24  py-3 px-5 md:min-w-52  inline-flex justify-center  md:inline-block  bg-gray-50 border-gray-100 items-center  text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                            Log in
                        </a>  
                        {% endif %}
                    </div>         
                </div> 
            </div>
        </div>
    </div>
</div>
<!-- Link to external Page (Facebook)-->
<div class='sm:mt-4 sm:mx-16 max-w-6xl xl:mx-auto xl:min-w-4xl sm:pt-4 sm:pl-16  h-auto sm:h-full  min-h-0 sm:min-h-32'>
    <div class='fixed sm:static sm:block bottom-10 left-10  sm:left-auto   sm:ml-4 xl:mt-24  '>
        <a 
            href='https://www.facebook.com/' 
            target="_blank" 
            rel='noopener' 
            aria-label="Visit our Facebook Page (opens new Tab)">
                <svg class="w-20 h-20  sm:h-16 sm: w-16 ms-2 rtl:rotate-180 text-gray-900/80 drop-shadow-xl" 
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 320 512"><path d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"/>
                </svg>
        </a>
    </div>
</div>

<!-- Newsletter signup form 
    Based on  https://flowbite.com/docs/components/banner/#newsletter-sign-up-banner
    and template given from Mailchhimp for Embedded Newsletter Form
-->
<div id="newsletter-banner" tabindex="-1" class="fixed bottom-0 start-0 z-50  pb-10 sm:pb-3 flex justify-between w-full p-2 border-b border-gray-200 bg-gray-100 dark:bg-gray-700 dark:border-gray-600">
    <div class="flex flex-col md:flex-row items-center md:flex-shrink-0 md:flex-nowrap w-full mx-auto sm:w-auto">
        <form 
            action="https://github.us21.list-manage.com/subscribe/post?u=c07408b8e1aa2195dd809f15e&amp;id=31ec6b9e73&amp;f_id=001d6be1f0" 
            method="post" 
            id="mc-embedded-subscribe-form" 
            name="mc-embedded-subscribe-form" 
            target="_blank"
            class="validate flex flex-col sm:flex-row items-center w-full h-16">
            <div id="mc_embed_signup_scroll" class="flex justify-center gap-x-10 ">
                <div class=" flex flex-col sm:flex-row justify-center items-center sm:gap-4 sm:gap-y-2  mc-field-group">
                    <label 
                        for="mce-EMAIL"
                        class="flex-shrink-0 items-center pb-2 sm:pb-0 sm:me-auto text-sm font-medium text-gray-600 md:mb-0 md:me-4 dark:text-gray-400 md:m-0"
                        >Sign up for our newsletter
                    </label>
                    <div class="flex flex-row ">
                        <input 
                            type="email" 
                            name="EMAIL"
                            id="mce-EMAIL" 
                            placeholder="Enter your email" 
                            class="required email block w-full p-2.5 my-1  text-sm min-w-50 sm:min-w-60 bg-white border border-gray-300 text-gray-900 rounded-lg focus:ring-lime-500 focus:border-lime-500  dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-lime-500 dark:focus:border-lime-500" 
                            required="" 
                            aria-label="Enter Email"
                            value="" />
                        <input 
                                type="submit" 
                                name="subscribe" 
                                id="mc-embedded-subscribe" 
                                aria-label="Submit Button"
                                class="  block w-full py-2 px-5  md:min-w-52  text-xs font-medium text-center rounded-lg border bg-lime-50  text-gray-900  border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800" 
                                value="Subscribe">
                    </div>

                </div>
                
                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                    /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                    <input type="text" name="b_c07408b8e1aa2195dd809f15e_31ec6b9e73" tabindex="-1" value="">
                </div>
                <div class="optionalParent">
                    <div class="clear foot">
                    </div>
                </div>
            </div>
             <div id="mce-responses" class="clear foot font-mono text-gray-700 text-sm">
                <div class="response" id="mce-error-response" style="display: none;"></div>
                <div class="response" id="mce-success-response" style="display: none;"></div>
            </div>
        </form>
    </div>
    <div class="flex items-center absolute top-2.5 end-2.5 md:relative md:top-auto md:end-auto">
        <button data-dismiss-target="#newsletter-banner" type="button" class="flex-shrink-0 inline-flex justify-center w-7 h-7 items-center text-gray-400 hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 dark:hover:bg-gray-600 dark:hover:text-white">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
            <span class="sr-only">Close banner</span>
        </button>
    </div>
</div>

{% endblock content%}


{% block javascript %}

<!-- for Mailchimp Newsletter signup form -->
<script src=" {%  static 'js/home.js' %}" type='module'></script>

<script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

{% endblock javascript %}