{% extends "base.html" %}

{% load static %}

{% load tailwind_filters %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class='md:flex md:flex-row md:justify-center'>
  <div class="mx-8 lg:mx-12 my-10 md:mx-2 md:w-screen lg:max-w-6xl" >
    <h1 class="text-3xl pb-8 mb-16  font-bold">My Profile</h1>
    <div class='md:flex md:space-x-1 ' >
      <!-- Profile Details Column -->
      <div class='lg:mr-4 md:mr-2 ' >
        <h2 class='text-2xl pb-8 font-bold '>Profile Details </h2>
        <div class="mb-8 relative overflow-x-auto sm:rounded-lg">
          <form action="{% url 'profile' %}" method="post" id='profile-update-form'>
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="mt-6 text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Update Information</button>

          </form>
        </div>
      </div>
      <!--Order History Column -->
      <div class='md:w-1/2 z-20'>
        <h2 class='text-2xl pb-8 font-bold '> Order History</h2>
        <div class="relative overflow-x-auto">
          <!-- https://flowbite.com/docs/components/tables/-->
          <table class="w-full max-h-80 text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                  <tr>
                      <th scope="col" class="px-2 py-3">
                          Order Number
                      </th>
                      <th scope="col" class="px-2 py-3">
                          Date
                      </th>
                      <th scope="col" class="px-2 py-3">
                          Items
                      </th>
                      <th scope="col" class="px-2 py-3">
                          Order Total
                      </th>
                  </tr>
              </thead>
              <tbody>
                {% for order in orders %}
                  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                          <a 
                              href="{% url 'order_history' order.order_number %}" 
                              title='order.order_number'> 
                              {{order.order_number|truncatechars:6}}
                          </a>
                      </th>
                      <td class="px-6 py-4">
                          {{order.date}}
                      </td>
                      <td class="px-6 py-4">
                          <ul>
                            <!-- https://flowbite.com/docs/typography/lists/-->
                            <ul class="max-w-md space-y-1 text-gray-500 list-none list-inside dark:text-gray-400">
                              {% for item in order.lineitems.all %}
                                <li>
                                   {%if item.product.has_sizes%} Size {{item.product.size|upper}} {% endif%} {{item.product.name}} x {{ item.quantity}}
                                </li>
                              {% endfor%}
                          </ul>
                      </td>
                      <td class="px-6 py-4">
                          £{{order.grand_total}}
                      </td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
      </div> 
    </div>
    <!-- Product Rating Column -->
    <div class='mt-16 md:flex md:space-x-1 ' >
      <div class='lg:mr-4 md:mr-2 ' >
        <h2 class='text-2xl mb-4  font-bold '>Rate your purchases  </h2>
        <p class='mt-4 mb-8 leading-6'> Leave a rating and help us and other users choose the right gear for Glasgow! </p>
        <div class="mb-8 relative overflow-x-auto shadow-md sm:rounded-lg">
          <table class=" w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                  <tr>
                      <th scope="col" class="px-16 py-3">
                          <span class="px-6 py-3">Product Reviews</span>
                      </th>
                  </tr>
              </thead>
              <tbody>
                <!-- Table of Shopping Bag items 
                  based on Flowbite Table and Rating Component 
                  https://flowbite.com/docs/components/rating/
                  https://flowbite.com/docs/components/tables/
                -->
                {% for product, user_comment in products_comments %}
                      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                          <td class="p-2">
                            <div class='flex flex-col md:ml-8 lg:ml-16 md:flex-row md:grow md:items-center md:justify-center'> 
                              <div class='md:min-w-80'>
                                <div class='p-1'>
                                  <div>
                                    {% if product.image %}
                                        <img
                                          class="inline-block w-16 md:w-32 max-w-full max-h-full"
                                          src="{{ product.image.url }}"
                                          alt="{{ product.name }}"
                                        />
                                        {% else %}
                                        <img
                                          class="inline-block w-16 md:w-32 max-w-full max-h-full"
                                          src="{{ MEDIA_URL }}No-Image-Placeholder.svg"
                                          alt="{{ product.name }}"
                                        />
                                  {% endif %}
                                  </div>
                                  <div class='px-1 sm:px-4 py-4 font-semibold text-gray-900 dark:text-white'>
                                    <p > {{ product.name}} </p>
                                    {% if product.has_sizes %} 
                                        <div class="text-left">
                                          <p class="pt-1 font-normal  text-gray-900 dark:text-white">Size: <strong class'font-bold'> {{ product.size|upper}} </strong> </p>
                                        </div>
                                     {% endif %}
                                  </div>
                                </div>
                              </div>
                            <!--  second row -->
                             <div class='md:min-w-96'> 
                              <form action="" method="POST" id='rate-product-form-{{order_item.product.id}}'> 
                                  {% csrf_token %}
                                  <!-- Add to Shopping Bag buttons-->
                                  <div class="flex items-baseline justify-center space-x-1">
                                    <!-- Star 1 -->
                                    <button
                                      type="button"
                                      data-product-id="{{ product.id }}" 
                                      data-user-id="{{ request.user.id }}"
                                      data-rating='1'
                                      id="rating-1-{{ product.id}}"
                                      class="rate-product-btn h-8  text-gray-900 text-sm rounded-full focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    >
                                      <svg data-rating='1' data-avg-rating="{{product.rating}}" class="rating-star w-4 h-4 text-yellow-300 ms-1"  style="pointer-events: none;" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                                      </svg>
                                    </button>
                                    <!-- Star 2 -->
                                    <button
                                      type="button"
                                      data-product-id="{{ product.id }}" 
                                      data-user-id="{{ request.user.id }}"
                                      data-rating='2'
                                      data-button-type='decrement'
                                      id="rating-2-{{ product.id}}"
                                      class="rate-product-btn h-8  text-gray-900 text-sm rounded-full focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    >
                                      <svg data-rating='2' data-avg-rating="{{product.rating}}" class="rating-star w-4 h-4 text-yellow-300 ms-1" style="pointer-events: none;" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                                      </svg>
                                    </button>
                                    <!-- Star 3 -->
                                    <button
                                      type="button"
                                      data-product-id="{{ product.id }}" 
                                      data-user-id="{{ request.user.id }}"
                                      data-rating='3'
                                      id="rating-3-{{ product.id}}"
                                      class="rate-product-btn h-8  text-gray-900 text-sm rounded-full focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    >
                                      <svg data-rating='3' data-avg-rating="{{product.rating}}" class="rating-star w-4 h-4 text-yellow-300 ms-1" style="pointer-events: none;" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                                      </svg>
                                    </button>
                                    <!-- Star 4 -->
                                    <button
                                      type="button"
                                      data-product-id="{{ product.id }}" 
                                      data-user-id="{{ request.user.id }}"
                                      data-rating='4'
                                      id="rating-4-{{ product.id}}"
                                      class="rate-product-btn h-8  text-gray-900 text-sm rounded-full focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    >
                                      <svg data-rating='4' data-avg-rating="{{product.rating}}" class="rating-star w-4 h-4 text-yellow-300 ms-1" style="pointer-events: none;" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                                      </svg>
                                    </button>
                                    <!-- Star 5 -->
                                    <button
                                      type="button"
                                      data-product-id="{{ product.id }}" 
                                      data-user-id="{{ request.user.id }}"
                                      data-rating='5'
                                      id="rating-5-{{ product.id}}"
                                      class="rate-product-btn  h-8  text-gray-900 text-sm rounded-full focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    >
                                      <svg data-rating='5' data-avg-rating="{{product.rating}}" class="rating-star w-4 h-4 text-yellow-300 ms-1" style="pointer-events: none;" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                                      </svg>
                                    </button>
                                  </div>
                              </form>
                             <div class='p-4 border-none' >
                                <textarea   
                                      id="textarea-{{ product.id }}" 
                                      data-product-id="{{ product.id }}"  
                                      name="comment" 
                                      cols="20" 
                                      rows="10" 
                                      class='border-none w-full shadow' 
                                      style='resize: none;'> {{ user_comment }}
                                </textarea>
                                <button 
                                      type="submit"
                                      data-user-id="{{ request.user.id }}" 
                                      data-product-id="{{ product.id }}" 
                                      data-textarea-id="textarea-{{ product.id }}"
                                      class="comment-product-btn mt-3 text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
                                      >Send Comment
                                </button>
                             </div>
                          </div>
                        </td>    
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
 
{% endblock %}

{% block javascript %}

<script src=" {%  static 'js/profiles.js' %}" type='module'></script>
<script src=" {%  static 'js/products.js' %}" type='module'></script>

{% endblock javascript  %}