{% extends "base.html" %}

{% load static %}

{% load tailwind_filters %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class='md:flex md:flex-row md:justify-center'>
  <div class="mx-8 lg:mx-12 my-10 md:mx-2 md:w-screen lg:max-w-6xl" >
    <h1 class="text-3xl pb-8 mb-16  font-bold">My Profile</h1>
    <div class='md:flex md:space-x-1 ' >
      <!-- Profile Details Column -->
      <div class='lg:mr-4 md:mr-2 ' >
        <h2 class='text-2xl pb-8 font-bold '>Profile Details </h2>
        <div class="mb-8 relative overflow-x-auto sm:rounded-lg">
          <form action="{% url 'profile' %}" method="post" id='profile-update-form'>
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="mt-6 text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Update Information</button>

          </form>
        </div>
      </div>
      <!--Order History Column -->
      <div class='md:w-1/2 z-20'>
        <h2 class='text-2xl pb-8 font-bold '> Order History</h2>
        <div class="relative overflow-x-auto">
          <!-- https://flowbite.com/docs/components/tables/-->
          <table class="w-full max-h-80 text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                  <tr>
                      <th scope="col" class="px-2 py-3">
                          Order Number
                      </th>
                      <th scope="col" class="px-2 py-3">
                          Date
                      </th>
                      <th scope="col" class="px-2 py-3">
                          Items
                      </th>
                      <th scope="col" class="px-2 py-3">
                          Order Total
                      </th>
                  </tr>
              </thead>
              <tbody>
                {% for order in orders %}
                  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                          <a 
                              href="{% url 'order_history' order.order_number %}" 
                              title='order.order_number'> 
                              {{order.order_number|truncatechars:6}}
                          </a>
                      </th>
                      <td class="px-6 py-4">
                          {{order.date}}
                      </td>
                      <td class="px-6 py-4">
                          <ul>
                            <!-- https://flowbite.com/docs/typography/lists/-->
                            <ul class="max-w-md space-y-1 text-gray-500 list-none list-inside dark:text-gray-400">
                              {% for item in order.lineitems.all %}
                                <li>
                                   {%if item.product.has_sizes%} Size {{item.product.size|upper}} {% endif%} {{item.product.name}} x {{ item.quantity}}
                                </li>
                              {% endfor%}
                          </ul>
                      </td>
                      <td class="px-6 py-4">
                          £{{order.grand_total}}
                      </td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
 
{% endblock %}

{% block javascript %}

<script src=" {%  static 'js/profiles.js' %}" type='module'></script>

{% endblock javascript  %}